.cardDiv {
    border: 1px solid black;
    border-radius: 8%;
    margin: 10px 0;
    padding: 1%;
    background-color: rgba(165, 42, 42, 0.05);
}

h4 {
    border-bottom: solid 1px black;
    padding: 2%;
    margin-top: 1%;
}